ONBOARD_TLS_PUBKEY=/c/Users/Dev/.ssh/dev.doni.io/pubkey.pem
ONBOARD_TLS_PRIVKEY=/c/Users/Dev/.ssh/dev.doni.io/privkey.pem
ONBOARD_TLS_CERT=/c/Users/Dev/.ssh/dev.doni.io/fullchain.pem

ONBOARD_API_HOST=dev.doni.io
ONBOARD_API_PORT=14000

ONBOARD_CQL_SCHEMA=onboard
ONBOARD_CQL_HOST=127.0.0.1:9042

ONBOARD_GOOGLE_OAUTH_CREDENTIALS=/c/Users/Dev/.ssh/onboard-google-oauth-dev.json
ONBOARD_GOOGLE_OAUTH_REDIRECT_URI=https://dev.doni.io:14000/oauth/callback