@import '~normalize.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';

html {
  font-size: 62.5%;
}

body,
select,
input {
  font-size: 1.6rem;
  margin: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
  font-family: 'Sofia Pro';
  src: local('Sofia Pro'), url(./fonts/sofiapro-light.otf) format('otf');
}

/* Color palette */
:root {
  --grey-1000: #11182b;
  --grey-900: #424758;
  --grey-800: #5e6474;
  --grey-700: #818692;
  --grey-600: #8f939d;
  --grey-500: #9ea2ac;
  --grey-400: #b6b9c0;
  --grey-300: #d0d3d9;
  --grey-200: #eaebee;
  --grey-100: #eff0f2;
  --grey-50: #f4f5f7;
  --white: #ffffff;
  --teal-700: #00bab2;
  --blue-600: #3188fe;
  --red-700: #f72756;
  --blueberry: #653a87;
  --red-600: #fd4e76;
  --beige: #f9f5ec;
  --aquamarine: #00d0c7;
  --seafoam-green-50: rgba(118, 246, 184, 0.5);
}
